*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*layout*/
.container{
    width: 100%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.direction{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.background-viola{
    background-color: #9792E4;
}

.background-blu{
    background-color: #0084FD;
}

.riga{
    width: 100%;
}

.col-100{
    width: calc(100% - 20px);
    margin: 10px;
    height: 100px;
    border: 1px solid black;
}

.col-doppia, .col-33{
    width: calc(100% - 20px);
    margin: 10px;
    height: 200px;
    background-color: yellow;
}

.col-50{
    width: calc(100% - 20px);
    margin: 10px;
    height: 200px;
    background-color: green;
}
/*fine layout*/

/*header*/
.logo{
    height: 100px;
    width: 100px;
    background-color: red;
}

.hamburger{
    height: 100px;
    width: 100px;
    background-color: red;
}

.menu{
    height: 100px;
    width: 100px;
    background-color: green;
    display: none;
}
/*fine header*/

/*tablet*/
@media screen and (min-width: 768px) {
    .container{
        max-width: 750px;
    }

    .riga{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .col-doppia{
        width: calc(100% / 3 * 2 - 20px);
    }

    .col-33{
        width: calc(100% / 3 - 20px);
    }

}

/*desktop*/
@media screen and (min-width: 991px) {
    .container{
        max-width: 950px;
    }
    
    .hamburger{
        display: none;
    }

    .menu{
        display: block;
    }
    
    .col-50{
        width: calc(100% / 2 - 20px);
    }
}

/*large desktop*/
@media screen and (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}